---
import BaseLayout from '../layouts/BaseLayout.astro';

import CallToAction from '../components/CallToAction.astro';
import Hero from '../components/Hero.astro';
import { CodeIcon, Pencil2Icon, ArrowRightIcon } from '@radix-ui/react-icons';
import LayoutContainer from '../components/LayoutContainer.tsx';
import LayoutFlex from '../components/LayoutFlex.tsx';
import Pill from '../components/Pill.astro';
---

<BaseLayout>
  <LayoutFlex gap="9">
    <LayoutContainer as="main">
      <Hero
        title="Hey! I'm Summer Young"
        tagline="I am a Design Engineer who is currently based in Seattle, Washington."
        align="start"
      >
        <div class="roles">
          <Pill><CodeIcon width="1.33em" height="1.33em" aria-hidden="true" /> Developer</Pill>
          <Pill><Pencil2Icon width="1.33em" height="1.33em" aria-hidden="true" /> Designer</Pill>
        </div>
        <div class="cta">
          <CallToAction href="/work/">
            View my work
            <ArrowRightIcon width="1.2em" height="1.2em" aria-hidden="true" />
          </CallToAction>
        </div>
      </Hero>
    </LayoutContainer>

  </LayoutFlex>
</BaseLayout>

<style>
  .roles {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  .cta {
    margin-top: 1.5rem;
  }
</style>
