---
import BaseLayout from '../layouts/BaseLayout.astro';

import CallToAction from '../components/CallToAction.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import LayoutContainer from '../components/LayoutContainer.tsx';
import LayoutFlex from '../components/LayoutFlex.tsx';
import Pill from '../components/Pill.astro';
---

<BaseLayout>
  <LayoutFlex gap="9">
    <LayoutContainer as="main">
      <Hero
        title="Hey! I'm Summer Young"
        tagline="I am a Design Engineer who is currently based in Seattle, Washington."
        align="start"
      >
        <div class="roles">
          <Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
          <Pill><Icon icon="pencil-line" size="1.33em" /> Designer</Pill>
        </div>
        <div class="cta">
          <CallToAction href="/work/">
            View my work
            <Icon icon="arrow-right" size="1.2em" />
          </CallToAction>
        </div>
      </Hero>
    </LayoutContainer>

  </LayoutFlex>
</BaseLayout>

<style>
  .roles {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  .cta {
    margin-top: 1.5rem;
  }
</style>
