---
import CallToAction from './CallToAction.astro';
import { PaperPlaneIcon } from '@radix-ui/react-icons';
---

<aside>
	<h2>Interested in working together?</h2>
	<CallToAction href="mailto:summer.joy.young@gmail.com">
		Send Me a Message
		<PaperPlaneIcon width="1.2em" height="1.2em" aria-hidden="true" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;
		border-top: 1px solid var(--gray-800);
		padding: 80px 24px;
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
	}

	@media (min-width: 50em) {
		aside {
			padding: 120px;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
